{% load staticfiles %}


<!DOCTYPE HTML>

<html>

<head>

  <title>Kempinski</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="jquery.mobile.structure-1.0.1.CSS" />

  <link rel="stylesheet" href="jquery.mobile-1.0.1.CSS" />

  <script src="js/jquery-1.7.1.min.js"></script>

  <script src="js/jquery.mobile-1.0.1.min.js"></script>

  </head>

<body>

<style media="screen">
.styler {
  background-image: linear-gradient(rgba( 21, 67, 96, 0.3), rgba( 52, 153, 219, 0.4)), url('media/images/kback.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 500px;
}
</style>



<div class="styler" style="text-align: center; color: #99BBBB;">
  <img src="../media/images/kempinski06.png"width="70%" height="60%"/> <h3>Our Menu</h3></a>


<a class="btn btn-success" style="background-color: #b313db;" href="https://play.google.com/store/apps/details?id=com.gamma.scan" target="_blank">Click Here To Scan Menu</a>
</div>
<div class="body"style="padding-top:20px;">
<div class="pstyler"style="text-align: center">
<p>Offering the perfect fusion of European luxury and Kenyan hospitality, Villa Rosa Kempinski is a unique destination where guests can spend time relaxing or working.<br>

In addition to the 200 rooms and suites distributed throughout its ten floors. You will also find exquisite dining opportunities here.</br> Our dining selection includes Cafe Villa Rosa, K Lounge our lobby lounge; Balcony Bar, Chinese Restaurant 88; Italian Restaurant LUCCA; and our Levant - style lounge and restaurant Tambourin.</br>

The hotel also has a grand ballroom and Kempinski The Spa.</p>
</div>


<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300|Supermercado+One|Permanent+Marker|Acme|Fredoka+One|Lemonada' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="font-mfizz-2.4.1/font-mfizz.css">
</head>

  <section id="projects" class="row">
<div class="bstyler" style="background:#99BBBB">
    <div class="background" style="color: #260013">
    <h3 class="text-center">Outstanding Services Offered</h3><br>
    <div class="container">
      <div class="row Outstanding-projects">
        <div class="col-lg-6">
          <div class="row">

            <div class="col-sm-7 text-center">
              <img class="services-offered--image" src="media/images/booknow02.jpg" width="85%" height="70%">
            </div>

            <div class="col-sm-5 text-center">
              <h4 class="services--offered">Stay Longer Save More</h4>
              <p class="services--offered">Book a longer stay and discover so much more in Nairobi. We know what it takes to make your stay an unforgettable experience and with up to 25 % off there is a lot more to enjoy.Stay 3 - 6 nights and enjoy 20 % off.Stay 7 nights or more and enjoy 25 % off.Book at least 7 days in advance. First night deposit will be required at the time of booking. Booking must be guaranteed with a valid credit card. Offer is subject to availability and local taxes.     Cancel by 6:00 pm hotel local time 3 days prior to date of arrival for a full refund. In case of late cancellation or non -arrival, one night fee will be charged. Minimum length of stay - 2 ...</p>
              <a class="btn btn-rounded book" href="https://www.kempinski.com/en/nairobi/hotel-villa-rosa/special-offers/" role="button" target="_blank">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-5 text-center">
              <h4 class="Outstanding--services">Early Bird</h4>
              <p class="Outstanding--services">Book your travel 10 days in advance or more and enjoy a 20 % off on the best available rate only.The early bird offer includes ; Complimentary Wi-Fi connectivity - Mini Bar stocked with soft drinks, juices, crisps and chocolates - Local Newspaper delivery. <br>Terms and Conditions</br> This special offer can only be booked a minimum of 10 days prior to your stay, room rates are subject pre-payment as per the terms and conditions, 25 % taxes apply. The minimum length of stay is 1 nights. Non Refundable and Non Cancellable.<b>All rights reserved.</br></p>
              <a class="btn btn-rounded book" href="https://www.kempinski.com/en/nairobi/hotel-villa-rosa/special-offers/" role="button" target="_blank">Book Now</a>
            </div>
            <div class="col-sm-7 text-center">
              <img class="Outstanding--image" src="media/images/booknow03.jpg" width="85%" height="70%">
            </div>
          </div>
        </div>
      </div>
      <hr>
  <section>
    <center> &#169; All Rights Reserved <a href="https://www.kempinski.com/en/hotels/about-us/" target="_blank"> Kempinski Hotels </a> </center>

  </section>

</body>

</html>
{% block footer %}{% endblock %}
